*{ 
    margin:0;
    padding: 0;}

.navbar{
    background-color: #1B1B3A;
    padding: 20px;
}

.nav{
    
    color: #ffff;
    font-size: 45px;
    font-family: monospace;
    padding-left: 44%;
    
}